<form class = "ui stacked inverted segment form" action = "/updates/{{videxlist.id}}/additem" method = "POST">
  <div class = "two fields">
    <div class = "field">
      <label>Custom Tag</label>
      <input placeholder = "Tag" type = "text" name = "tag" autofocus required>
    </div>
    <div class = "field">
      <label>Site</label>
      <input placeholder = "Site" tpye = "text" name = "site" required>
    </div>
  </div>
   <div class = "field">
      <label>Web Link</label>
      <input placeholder = "Link" type = "text" name = "link" required>
    </div>
  <button class = "ui inverted submit button">Add Item</button>
</form>