<form class = "ui stacked inverted segment form" action = "/dashboard/addvidexlist" method = "POST" enctype="multipart/form-data">
  <div class = "field">
    <label>Title</label>
    <input placeholder = "Title" type = "text" name = "title" autofocus required>
  </div>
  <div class = "field">
    <label>photo</label>
    <input placeholder = "photo" type = "file" name = "photo" required>
  </div>
  <button class = "ui inverted submit button">
     Add Videxlist
  </button>
</form>